{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}{{ block.super }}

<section id="about-section">

    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="staff-member">
                <div class="staff-member-image">
                    <img src="{% static "images/frank-sq.png" %}" alt="Frank Smith" class="img-circle" />
                </div>
                <div class="staff-member-info">
                    <ul>
                        <li class="staff-member-name">Frank J. Smith</li>
                        <li class="staff-member-title"> President</li>
                        <li><hr></li>
                        <li>D.D., Methodist Episcopal Church USA.</li>
                        <li>Ph.D., City University of New York, New York: NY.</li>
                        <li>M.Phil., City University of New York, New York: NY.</li>
                        <li>Th.M., Westminster Theological Seminary, Glenside: PA.</li>
                        <li>M.Div., Westminster Theological Seminary, Glenside: PA.</li>
                        <li>B.A., Covenant College, Lookout Mountain: GA.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="staff-member">
                <div class="staff-member-image">
                    <img src="{% static "images/park-sq2.png" %}" alt="James Park" class="img-circle" />
                </div>
                <div class="staff-member-info">
                    <ul>
                        <li class="staff-member-name">James Sang-Mok Park</li>
                        <li class="staff-member-title">Vice President & Academic Dean</li>
                        <li><hr></li>
                        <li>Ph.D. candi., Trinity Theological Seminary, Evansville: IN.</li>
                        <li>D.Miss., Reformed Theological Seminary, Jackson: MS.</li>
                        <li>Th.M., Reformed Theological Seminary, Jackson: MS</li>
                        <li>M.A., Reformed Theological Seminary, Jackson: MS.</li>
                        <li>M.Div., Reformed Theological Seminary, Jackson: MS.</li>
                        <li>B.S., West Virginia University Tech., Montgomery: WV.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3 col-xs-3">
            <div class="staff-member">
                <div class="staff-member-image">
                    <img class="img-circle" src="{% static "images/yang-sq.png" %}" alt="Nam Sik Yang"/>
                </div>

                <div class="staff-member-info">
                    <ul>
                        <li class="staff-member-name">Nam Sik Yang</li>
                        <li class="staff-member-title">Librarian</li>
                        <li><br></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3">
            <div class="staff-member">
                <div class="staff-member-image">
                    <img class="img-circle" src="{% static "images/rang-sq.png" %}" alt="Young rang Lee"/>
                </div>

                <div class="staff-member-info">
                    <ul>
                        <li class="staff-member-name">Young Rang Lee</li>
                        <li class="staff-member-title">Secretary</li>
                        <li><br></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3">
            <div class="staff-member">
                <div class="staff-member-image">
                    <img class="img-circle" src="{% static "images/Julia-sq.jpg" %}" alt="Julia Son"/>
                </div>

                <div class="staff-member-info">
                    <ul>
                        <li class="staff-member-name">Julia Son</li>
                        <li class="staff-member-title">Assistant Treasurer/Financial Aid Director</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3">
            <div class="staff-member">
                <div class="staff-member-image">
                    <img class="img-circle" src="{% static "images/hwan-sq.png" %}" alt="Tae Hwan Kim"/>
                </div>

                <div class="staff-member-info">
                    <ul>
                        <li class="staff-member-name">Tae Hwan Kim</li>
                        <li class="staff-member-title">Media/Web Master</li>
                        <li><br></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</section>

{% endblock %}