{% extends "base.html" %}
{% load mezzanine_tags keyword_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block subtitle_section %}

        <div class="row subtitle-panel">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="container">
                <p>{{ page.title }}
                <span class="subtitle-desc">{{ page.richtextpage.description }}</span></p>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Left Panel -->
{% block main-left-col %}col-sm-3{% endblock %}
{% block left_panel %}
{#    <div id="side-menu" class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>#}
    <div id="side-menu" class="panel panel-group">
    {% page_menu "pages/menus/side-menu.html" %}
    </div>
{% endblock %}
<!-- Left Panel ends -->

{% block main-middle-col %}col-sm-9{% endblock %}
{% block main %}
{% endblock %}


