{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

<section id="academics-section">

        <div class="row">
            <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Certificate of Ministry/Missiology</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Bachelor of Arts in Theology/Christian Education/Missiology</a></li>
                            <li><a href="#tab3primary" data-toggle="tab">Master of Arts in Religion/Christian Education/Biblical/Historical/Missiological/Theological Studies</a></li>
                            <li><a href="#tab4primary" data-toggle="tab">Master of Divinity</a></li>
                            <li><a href="#tab5primary" data-toggle="tab">Doctor of Ministry in Pastoral Theology/Christian Education/Missions</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
                            <h4>Program Purpose</h4>
                            <p>
                                The Certificate of Missiology program is to train and equip competent missional-minded Christian workers
to serve the Church of Jesus Christ in North America and overseas, in order to fulfill our calling to make
disciples of all nations. This Certificate program is designed with two specific needs in mind. The first is for persons who seek a year of study in preparation for missional ministry with a Mission Emphasis, which
enables individuals to extend their local pastoral ministries through evangelism, effective preaching, and
church planting at home and cross-culturally. It also serves as a "trial year in seminary" for persons who
wish to test their gifts and skills with a view toward further preparation for full-time Christian ministry.
                            </p>
                            <br>
                            <h4>Certificate Requirements / Time Limit</h4>
                            <pre>
1. Successfully complete 36 semester units of the following coursework with a cumulative minimum Grade Point
    Average of 2.0 on a 4.0 scale:
    1) Complete 24 semester units of common core courses
    2) Complete 12 semester units of unrestricted electives
2. Complete all financial requirements
3. File an application for intent to be certified with the university office 8 weeks prior to graduation to certify that all certificate
    requirements have been met.
4. Complete certificate requirements within the time limit.
5. Certificate of Ministry program must be completed within 2 years from the time the student commenced the first course,
    as a student, which applies to the requirements.
                            </pre>
                        </div>
                        <div class="tab-pane fade" id="tab2primary">
                            <h4>Program Purpose</h4>
                        </div>
                        <div class="tab-pane fade" id="tab3primary">
                            <h4>Program Purpose</h4>
                        </div>
                        <div class="tab-pane fade" id="tab4primary">
                            <h4>Program Purpose</h4>
                        </div>
                        <div class="tab-pane fade" id="tab5primary">
                            <h4>Program Purpose</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </section>
{% endblock %}