{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

<section id="academics-section">
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>Academic Calendar 2015 - 2016 (Fall Semester 2015)</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
                <td>Aug 24-28</td>
                <td>Student registration and orientation</td>
    		</tr>
            <tr>
                <td>Aug 31</td>
                <td>Beginning of Semester and first day of classes</td>
    		</tr>
            <tr>
                <td>Sept 4</td>
                <td>Last day to add class or register late</td>
    		</tr>
            <tr>
                <td>Sept 7</td>
                <td>Labor Day Academic Recess</td>
    		</tr>
            <tr>
                <td>Sept 18</td>
                <td>Last day to drop classes</td>
    		</tr>
            <tr>
                <td>Oct 29</td>
                <td>Bible Test</td>
    		</tr>
            <tr>
                <td>Nov 26-27</td>
                <td>Thanksgiving Academic Recess</td>
    		</tr>
            <tr>
                <td>Dec 7</td>
                <td>Special Lecture</td>
    		</tr>
            <tr>
                <td>Dec 11</td>
                <td>Last Day of Classes</td>
    		</tr>
            <tr>
                <td>Dec 14-18</td>
                <td>Final examinations</td>
    		</tr>
            <tr>
                <td>Dec 18</td>
                <td>End of Semester</td>
    		</tr>
    	</tbody>

        <thead>
    		<tr>
    			<th>Academic Calendar 2015 - 2016 (Spring Semester 2016)</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
                <td>Feb 1-5</td>
                <td>Student registration and orientation</td>
    		</tr>
            <tr>
                <td>Feb 8</td>
                <td>Beginning of Semester and first day of classes</td>
    		</tr>
            <tr>
                <td>Feb 12</td>
                <td>Last day to add class or register late</td>
    		</tr>
            <tr>
                <td>Feb 26</td>
                <td>Last day to drop classes</td>
    		</tr>
            <tr>
                <td>Mar 21-25</td>
                <td>Passion Week Recess</td>
    		</tr>
            <tr>
                <td>Apr 12</td>
                <td>Bible Test</td>
    		</tr>
            <tr>
                <td>May 16</td>
                <td>Special Lecture</td>
    		</tr>
            <tr>
                <td>May 20</td>
                <td>Last Day of Classes</td>
    		</tr>
            <tr>
                <td>May 23-27</td>
                <td>Final examinations</td>
    		</tr>
            <tr>
                <td>May 27</td>
                <td>End of Semester</td>
    		</tr>
            <tr>
                <td>June 4</td>
                <td>Graduation Ceremony</td>
    		</tr>
    	</tbody>
    </table>

    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>Academic Calendar 2016 - 2017 (Fall Semester 2016)</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
                <td>Aug 22-26</td>
                <td>Student registration and orientation</td>
    		</tr>
            <tr>
                <td>Aug 29</td>
                <td>Beginning of Semester and first day of classes</td>
    		</tr>
            <tr>
                <td>Sept 2</td>
                <td>Last day to add class or register late</td>
    		</tr>
            <tr>
                <td>Sept 5</td>
                <td>Labor Day Academic Recess</td>
    		</tr>
            <tr>
                <td>Sept 16</td>
                <td>Last day to drop classes</td>
    		</tr>
            <tr>
                <td>Oct 25</td>
                <td>Bible Test</td>
    		</tr>
            <tr>
                <td>Nov 24-25</td>
                <td>Thanksgiving Academic Recess</td>
    		</tr>
            <tr>
                <td>Dec 5</td>
                <td>Special Lecture</td>
    		</tr>
            <tr>
                <td>Dec 9</td>
                <td>Last Day of Classes</td>
    		</tr>
            <tr>
                <td>Dec 12-16</td>
                <td>Final examinations</td>
    		</tr>
            <tr>
                <td>Dec 16</td>
                <td>End of Semester</td>
    		</tr>
    	</tbody>

        <thead>
    		<tr>
    			<th>Academic Calendar 2015 - 2016 (Spring Semester 2017)</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
                <td>Jan 30-Feb 3</td>
                <td>Student registration and orientation</td>
    		</tr>
            <tr>
                <td>Feb 6</td>
                <td>Beginning of Semester and first day of classes</td>
    		</tr>
            <tr>
                <td>Feb 10</td>
                <td>Last day to add class or register late</td>
    		</tr>
            <tr>
                <td>Feb 24</td>
                <td>Last day to drop classes</td>
    		</tr>
            <tr>
                <td>Apr 10-14</td>
                <td>Passion Week Recess</td>
    		</tr>
            <tr>
                <td>Apr 18</td>
                <td>Bible Test</td>
    		</tr>
            <tr>
                <td>May 15</td>
                <td>Special Lecture</td>
    		</tr>
            <tr>
                <td>May 19</td>
                <td>Last Day of Classes</td>
    		</tr>
            <tr>
                <td>May 22-26</td>
                <td>Final examinations</td>
    		</tr>
            <tr>
                <td>May 26</td>
                <td>End of Semester</td>
    		</tr>
            <tr>
                <td>June 3</td>
                <td>Graduation Ceremony</td>
    		</tr>
    	</tbody>
    </table>
</section>
{% endblock %}