{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}{{ block.super }}

<section id="admission-section">
    <div class="row">
        <div class="row">
            <div class="col-sm-12">
                <img src="{% static "images/admission-page.png" %}" alt="Admission Tyndale" class="img-responsive img-rounded"/>
            </div>
        </div>
    </div>

        <div class="row">
             <div id="admission-content">
                 <div class="col-sm-12">
                    {% editable page.richtextpage.content %}
                    {{ page.richtextpage.content|richtext_filters|safe }}
                    {% endeditable %}
                 </div>
             </div>
        </div>
</section>
{% endblock %}