{% extends "base.html" %}
{% load mezzanine_tags keyword_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_section %}
<div class="row breadcrumb-wrapper">
        <div class="col-sm-12">
            <div class="container">
                <ul class="breadcrumb">
                {% spaceless %}
                {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                {% endspaceless %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
{% endblock %}
