<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One|Inconsolata|Josefin+Sans|Quicksand|Josefin+Slab' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>


{% compress css %}

<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
{#<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">#}
{#    <link rel="stylesheet" href= {% static "css/bootflat.css" %}/>#}

<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "css/parsley.css" %}">
<link rel="stylesheet" href="{% static "css/animate.css" %}">
<link rel="stylesheet" href="{% static "css/custom-bootstrap.css" %}">

{% endcompress %}

{% compress js %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>


<!-- Body Start -->
<body id="{% block body_id %}body{% endblock %}">

<!-- Nav bar Start -->
<div class="container">
    <nav id="top_navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="row navbar-brand">
                                <div class="col-sm-12">
                                    <a href="www.taedori-staging.com">
                                        <img class="img-responsive" src="{% static "images/main-logo.png" %}" alt="TIU Logo"/>
                                    </a>
                                </div>
                        </div>
                     </div>
                </div>
                <div class="col-sm-8">
                     <div class="navbar-collapse collapse navbar-right">
                        {% page_menu "pages/menus/dropdown.html" %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Nav bar ends -->

<!-- Breadcrumb Start -->

{% block subtitle_section %} {% endblock %}

<!-- Breadcrumb ends -->

<div class="{% block main_container %} container {% endblock %} {% block top_padding %}{% endblock %}">

    <div class="row">

        <!-- Left Side Panel - Hidden by default -->
        <div class="{% block main-left-col %}{% endblock %} left">
            {% block left_panel %}
            {% endblock %}
        </div>

        <!-- Main Center Panel -->
        <div class="{% block main-middle-col %}col-sm-12{% endblock %} middle wow fadeIn">
            {% block main %}{% endblock %}
        </div>


        <!-- Right Side Panel - Hidden by default -->
        <div class="{% block main-right-col %}{% endblock %} right">
            {% block right_panel %}
            {% endblock %}
        </div>

    </div>
</div>

<footer id="main_footer">

    <div class="container">

        <div class="row full-screen">
            <div class="col-sm-4 text-right">
                <p>[ Tyndale International University ]</p>
                <p><i class="fa fa-globe fa-fw"></i>&nbsp;&nbsp;<strong>Address</strong> : 1543 W Olympic Blvd, Los Angeles, CA 90015</p>
                <p><i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;<strong>Email</strong>  : tyndaleuniversity@gmail.com</p>
                <p><i class="fa fa-phone fa-fw"></i>&nbsp;&nbsp;<strong>Phone</strong>  : (213)389-1773</p>
                <p><i class="fa fa-fax fa-fw"></i>&nbsp;&nbsp;<strong>Fax</strong>  : (213)383-5044</p>
            </div>
            <div class="col-sm-4">
                <p><i class="fa fa-copyright fa-fw"></i>2015 Tyndale International University All rights reserved</p>
            </div>
            <div class="col-sm-4 text-left">
                <p><a href="http://www.yalamission.com">[ Yala Mission ]</a></p>
                <p><i class="fa fa-globe fa-fw"></i>&nbsp;&nbsp;<strong>Address</strong> : 1543 W Olympic Blvd, Los Angeles, CA 90015</p>
                <p><i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;<strong>Email</strong>  : admin@yalamission.com</p>
                <p><i class="fa fa-phone fa-fw"></i>&nbsp;&nbsp;<strong>Phone</strong>  : (213)389-1773</p>
                <p><i class="fa fa-fax fa-fw"></i>&nbsp;&nbsp;<strong>Fax</strong>  : (213)383-5044</p>
            </div>
        </div>
        <div class="row mobile-screen">
            <div class="col-xs-12">
                <p>[ Tyndale International University ]</p>
                <p><i class="fa fa-globe fa-fw"></i>&nbsp;&nbsp;<strong>Address</strong> : 1543 W Olympic Blvd, Los Angeles, CA 90015</p>
                <p><i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;<strong>Email</strong>  : tyndaleuniversity@gmail.com</p>
                <p><i class="fa fa-phone fa-fw"></i>&nbsp;&nbsp;<strong>Phone</strong>  : (213)389-1773</p>
                <p><i class="fa fa-fax fa-fw"></i>&nbsp;&nbsp;<strong>Fax</strong>  : (213)383-5044</p>
            </div>
        </div>
    </div>
</footer>



<script src="{% static "js/jquery.sticky.js" %}"></script>
<script src="{% static "js/parsley.min.js" %}"></script>
<script src="{% static "js/modernizr.js" %}"></script>
<script src="{% static "js/jquery.cbpQTRotator.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/jquery.nicescroll.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
{% include "includes/footer_scripts.html" %}

</body>
</html>
