<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One|Inconsolata|Josefin+Sans|Quicksand|Josefin+Slab' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>


{% compress css %}

<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
{#<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">#}
{#    <link rel="stylesheet" href= {% static "css/bootflat.css" %}/>#}

<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "css/parsley.css" %}">
<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
<link rel="stylesheet" href="{% static "css/owl.theme.css" %}">
<link rel="stylesheet" href="{% static "css/custom-bootstrap.css" %}">

{% endcompress %}

{% compress js %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>


<!-- Body Start -->
<body id="{% block body_id %}body{% endblock %}">

<!-- Nav bar Start -->
<div class="container">
    <nav id="top_navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="row navbar-brand">
                                <div class="col-sm-12">
                                    <img class="img-responsive" src="{% static "images/Main_logo.png" %}" alt="TIU Logo"/>
                                </div>
{#                                <div class="col-sm-9">#}
{#                                    <p>Tyndale International University</p>#}
{#                                </div>#}
                        </div>
                     </div>
                </div>
                <div class="col-sm-8">
                     <div class="navbar-collapse collapse navbar-right">
                        {% page_menu "pages/menus/dropdown.html" %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Nav bar ends -->

<!-- Breadcrumb Start -->

{% block subtitle_section %} {% endblock %}

<!-- Breadcrumb ends -->

<div class="container {% block top_padding %}{% endblock %}">

    <div class="row">

        <!-- Left Side Panel - Hidden by default -->
        <div class="{% block main-left-col %}{% endblock %} left">
            {% block left_panel %}
            {% endblock %}
        </div>

        <!-- Main Center Panel -->
        <div class="{% block main-middle-col %}col-sm-12{% endblock %} middle">
            {% block main %}{% endblock %}
        </div>


        <!-- Right Side Panel - Hidden by default -->
        <div class="{% block main-right-col %}{% endblock %} right">
            {% block right_panel %}
            {% endblock %}
        </div>

    </div>
</div>

<footer>
    <div class="container">

        <div class="row">
            <p class="site-info text-center">
                {% trans "Powered by" %}
                <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
                <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
                {% trans "and" %}
                <a href="http://www.djangoproject.com">Django</a>
                <span class="separator">|</span>
                {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
                {% ifinstalled mezzanine.mobile %}
                <span class="separator">|</span>
                <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
                {% endifinstalled %}
            </p>
        </div>
    </div>
</footer>



<script src="{% static "js/jquery.sticky.js" %}"></script>
<script src="{% static "js/parsley.min.js" %}"></script>
<script src="{% static "js/owl.carousel.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
{% include "includes/footer_scripts.html" %}

</body>
</html>
